p {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
 }
body {
  margin-top: 10px;
  margin-bottom: 0px;
}
#Spin_horse{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 100px;
  margin-left: 100px;
}

.navbar a {
  text-align: left;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}


/*側拉選單*/
html,
body {
  height: 100%;
}

body {
  background-color: #546377;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 300;
}

a:hover {
  color: yellow;
}

a,
label {
  cursor: pointer;
}

.sideMenu {
  width: 300px;
  height: 100%;
  background-color: #e6a569;
  border-right: 3px solid #d1d1d1;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  box-shadow: 5px 0 5px rgba(23, 23, 54, 0.6);
  position: relative;
  transform: translateX(-100%);
  transition: 0.5s;
}

.sideMenu form {
  display: flex;
  margin: 0 10px 50px;
  border-radius: 100px;
  border: 1px solid #fff;
}

.sideMenu form input {
  width: 230px;
}

.sideMenu form button {
  width: 50px;
}

.sideMenu form input,
.sideMenu form button {
  border: none;
  padding: 5px 10px;
  background-color: transparent;
  color: #fff;
}

.sideMenu form input:focus,
.sideMenu form button:focus {
  outline: none;
}

.sideMenu label {
  width: 20px;
  height: 80px;
  background-color: #d1d1d1;
  color: #686666;
  position: absolute;
  right: -20px;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 80px;
  text-align: center;
  border-radius: 0 5px 5px 0;
  box-shadow: 5px 0 5px rgba(23, 23, 54, 0.6);
}

#sideMenu-active:checked + .sideMenu {
  transform: translateX(0);
}

#sideMenu-active:checked + .sideMenu label .fas {
  transform: scaleX(-1);
}

#sideMenu-active {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

nav a {
  display: block;
  color: #fff;
  padding: 20px 10px;
  position: relative;
}

nav a .fas {
  margin-right: -1.1em;
  transform: scale(0);
  transition: 0.3s;
}

nav a:hover .fas {
  margin-right: 0em;
  transform: scale(1);
}

nav a + a::before {
  content: "";
  position: absolute;
  border-top: 1px dashed #ffffff;
  left: 10px;
  right: 10px;
  top: 0px;
}

/*選單結束*/